services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: on-failure

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks:
      - inception
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${DB_ROOT_PASS}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    depends_on:
        mariadb:
          condition: service_healthy
        redis:
         condition: service_started
    expose:
      - "9000"
    restart: on-failure

##============== BONUS ================##

  redis:
    container_name: redis
    build: ./requirements/bonus/redis
    networks:
      - inception
    restart: on-failure
    expose:
    - "6379"
    volumes:
    - redis:/var/lib/redis

  ftp:
    container_name: ftp
    build: ./requirements/bonus/ftp
    networks:
    - inception
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    restart: on-failure

  static-site:
    container_name: static-site
    build: ./requirements/bonus/static-site
    networks:
    - inception
    ports:
    - "8081:80"
    restart: on-failure


  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer
    networks:
    - inception
    ports:
    - "8080:8080"
    depends_on:
    - mariadb
    restart: on-failure

  portainer:
    container_name: portainer
    build:
      context: ./requirements/bonus/portainer
    networks:
    - inception
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    # Socket Docker : Permet à Portainer de contrôler Docker
    - portainer_data:/data
    # Données persistantes (utilisateurs, configuration)
    ports:
    - "9000:9000"    # ← Ajoutez cette ligne
    - "9443:9443"
    - "8000:8000"    # ← Ajoutez cette ligne
    restart: on-failure

networks:
  inception:
    name: inception
    driver: bridge

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/adrouin/data/mariadb
      o: bind
      type: none
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/adrouin/data/wordpress
      o: bind
      type: none
  redis:
    name: redis
    driver: local
    driver_opts:
      device: /home/adrouin/data/redis
      o: bind
      type: none
  portainer_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/adrouin/data/redis
