services:
  nginx:
    container_name: nginx
    build: ./srcs/requirements/nginx
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: on-failure

  mariadb:
    container_name: mariadb
    build: ./srcs/requirements/mariadb
    networks:
      - inception
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    expose:
      - "3306"
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

  wordpress:
    container_name: wordpress
    build: ./srcs/requirements/wordpress
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    depends_on:
        mariadb:
          condition: service_healthy
    expose:
      - "9000"
    restart: on-failure

networks:
  inception:
    name: inception
    driver: bridge

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/adrouin/data/mariadb
      o: bind
      type: none
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/adrouin/data/wordpress
      o: bind
      type: none
